<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zeldoom : Breath of the Waaagh</title>
</head>
<body style="background-color: black; margin: 0;">
    <canvas id="canvas" style="background-color: gray;"></canvas>
    <script src="../../scripts/sounds.js"></script>
    <script src="../../scripts/devtools.js"></script>
    <script src="../../scripts/math.js"></script>
    <script src="../../scripts/npc.js"></script>
    <script src="../../scripts/collider.js"></script>
    <script src="../../scripts/control.js"></script>
    <script src="../../scripts/player.js"></script>
    <script src="../../scripts/image_loader.js"></script>
    <script src="../../scripts/sprite.js"></script>
    <script src="../../scripts/game.js"></script>
    <script src="../../scripts/main.js"></script>
</body>
</html>
